<div class="products-page">
  <div class="row g-4">

    <div class="col-lg-3 col-md-4">
      <div class="categories-section">
        <div class="section-header">
          <h4 class="section-title">Categories</h4>
          <button class="btn btn-add-category" title="Add New Category" (click)="openCategoryModal()">
            <i class="fas fa-plus"></i>
          </button>
        </div>
        
        <div class="divider"></div>
        
        <div class="category-list">
          <button class="category-btn" 
                  [class.active]="currentCategory === 'all'"
                  (click)="filter('all')">
            <i class="fas fa-th-large"></i>
            <span>All Products</span>
          </button>
          
          <button *ngFor="let category of categories" 
                  class="category-btn"
                  [class.active]="currentCategory === category.name.toLowerCase()"
                  (click)="filter(category.name.toLowerCase())">
            <div class="category-content">
              <i class="fas fa-tag"></i>
              <span>{{category.name}}</span>
            </div>
            <div class="category-actions">
              <span class="edit-icon me-2" (click)="openCategoryModal($event, category)">
                <i class="fas fa-edit"></i>
              </span>
              <span class="delete-icon" (click)="deleteCategory($event, category.id)">
                <i class="fas fa-times"></i>
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>

     <!-- Products -->
    <div class="col-lg-9 col-md-8">
      <div class="products-section mb-5">
        <div class="section-header">
          <h4 class="section-title">Products</h4>
          <app-product-form (productAdded)="loadProducts()"></app-product-form>
        </div>
        <app-product-grid 
          [products]="filteredProducts"
          (deleteProduct)="handleProductDelete($event)">
        </app-product-grid>
      </div>
    </div>
  </div>
</div>

<app-category-modal #categoryModal
                   (categoryAdded)="onCategoryAdded()"
                   (categoryUpdated)="onCategoryUpdated()">
</app-category-modal>
